build/
cmake-build-debug/
clang/
examples/
third-party/

build-llvm/
build-spirv/
llvm-project/
llvm-spirv/

runtime-rt/*.exe
runtime-rt/*.o
runtime-rt/*.out
runtime-rt/*.bc
runtime-rt/*.ll
runtime-rt/*.spv

.idea
.vscode
.vs
